<h1> Projeccio resultats eleccions a Catalunya

<h2> CÃ lcul per provincies

<ul><li>Barcelona: 32</li>
    <li>Girona:  6</li>
    <li>Lleida: 4</li>
    <li>Tarragon 6</li>
</ul>
Total 48 escons

<h3> Lleida

In [1]:
lleida = [180233,122911,4922,4259]
#[Vots totals,Abstencions,Vots en blanc,Vots nuls]

In [2]:
erc = 48099
junts = 47522
psc = 30950
pp = 10444
ara_pl = 8457
cup = 6320
resultats = [erc,junts,psc,pp,ara_pl,cup]
percentatge = [0.2669,0.2637,0.1717,0.579,0.469,0.351]

Vot indepe Inicial

In [3]:
vot_indepe_inici = erc + junts + cup

In [4]:
tmp = 0
for i in resultats:
    tmp += i
print(tmp)

151792

In [5]:
vots_a_repartir = 4

In [6]:
res = []
tmp = []
tmp2=[]
for i in range(1,vots_a_repartir+1):
    for j in range(len(resultats)):
        tmp.append(round((resultats[j]/i)))
        tmp2.append(round((resultats[j]/i)))
    res.append(tmp)
    tmp = []
print(tmp2)

[48099, 47522, 30950, 10444, 8457, 6320, 24050, 23761, 15475, 5222, 4228, 3160, 16033, 15841, 10317, 3481, 2819, 2107, 12025, 11880, 7738, 2611, 2114, 1580]

In [7]:
tmp2 = sorted(tmp2,reverse=True)
limit = tmp2[vots_a_repartir-1]

In [8]:
import pandas as pd

In [9]:
data = pd.DataFrame(res, columns=["ERC","JUNTS","PSC","PP","Ara_Pl","CUP"])

In [10]:
data.style.applymap(lambda x: 'background-color : green' if x>=limit else '')

<h4> Suposem increment abstencio als partits independistes 10%

In [11]:
increment_abstencio = 1

<h4> ERC

In [12]:
resultats[0] -= resultats[0] * increment_abstencio 
resultats[0]

0

<h4> Junts

In [13]:
resultats[1] -= resultats[1] *increment_abstencio
resultats[1]

0

<h4> CUP

In [14]:
resultats[5] -= resultats[5] * increment_abstencio
resultats[5]

0

Quin augment a l'abstenciÃ³ generalitzada representa un increment del 10% en el vot indepe?

In [15]:
vot_indepe_abs = resultats[0] + resultats[1] + resultats[5]
print("Augment abstenciÃ³ quan els indepes perden 10% vots:", round(100*(vot_indepe_inici- vot_indepe_abs)/lleida[0],2),"%")

Augment abstenciÃ³ quan els indepes perden 10% vots: 56.56 %

In [16]:
res = []
tmp = []
tmp2=[]
for i in range(1,vots_a_repartir+1):
    for j in range(len(resultats)):
        tmp.append(round((resultats[j]/i)))
        tmp2.append(round((resultats[j]/i)))
    res.append(tmp)
    tmp = []
tmp2 = sorted(tmp2,reverse=True)
limit = tmp2[vots_a_repartir-1]
data = pd.DataFrame(res, columns=["ERC","JUNTS","PSC","PP","Ara_Pl","CUP"])

In [17]:
data.style.applymap(lambda x: 'background-color : green' if x>=limit else '')

<h3> Barcelona

In [18]:
resultats_bcn = [571901,356644,332314,243065,211593,120213,93675]
columns=["PSC","Junts","ERC","Comuns","PP","VOX","Cup"]
barcelona = [2251163,1818557,34085,28282]
#[Vots totals,Abstencions,Vots en blanc,Vots nuls]
psc = resultats_bcn[0]/barcelona[0]
junts = resultats_bcn[1]/barcelona[0]
erc = resultats_bcn[2]/barcelona[0]
comuns = resultats_bcn[3]/barcelona[0]
pp = resultats_bcn[4]/barcelona[0]
vox = resultats_bcn[5]/barcelona[0]
cup = resultats_bcn[6]/barcelona[0]
percentatge_bcn = [psc,junts,erc,comuns,pp,vox,cup]
votIndiBcn_i = resultats_bcn[1] + resultats_bcn[2] + resultats_bcn[6]
votIndiBcn_i
percentatge_indi = votIndiBcn_i/barcelona[0]
percentatge_indi

0.3476571887508812

In [19]:
vots_a_repartir = 32
res = []
tmp = []
tmp2=[]
for i in range(1,vots_a_repartir+1):
    for j in range(len(resultats_bcn)):
         tmp.append(round((resultats_bcn[j]/i)))
         tmp2.append(round((resultats_bcn[j]/i)))
    res.append(tmp)
    tmp = []

In [20]:
tmp2 = sorted(tmp2,reverse=True)
limit = tmp2[vots_a_repartir-1]
limit

55386

In [21]:
data = pd.DataFrame(res, columns=columns)

In [22]:
data.style.applymap(lambda x: 'background-color : green' if x>=limit else '')

<h4> Suposem increment abstenciÃ³ vot independista 100%

In [23]:
increment_abstencio = 0

<h4>ERC

In [24]:
resultats_bcn[2] -= resultats_bcn[2] * increment_abstencio
resultats_bcn[2]

332314

<h4> Junts

In [25]:
resultats_bcn[1] -= resultats_bcn[1]*increment_abstencio
resultats_bcn[1]

356644

<h4> CUP

In [26]:
resultats_bcn[6] -= resultats_bcn[6]*increment_abstencio
resultats_bcn[6]
if resultats_bcn[6] < barcelona[0]*0.03:
    resultats_bcn[6] = 0
resultats_bcn[6]/barcelona[0]

0.0416118246435287

Quin percentatge d'abstenciÃ³ s'aconsegueix amb una baixada del 10% de vot Indi

In [27]:
votIndiBcn_a = resultats_bcn[2] + resultats_bcn[1] + resultats_bcn[6]
print("Augment abstenciÃ³ quan els indepes perden 50% vots:", round(100*(votIndiBcn_i - votIndiBcn_a)/barcelona[0],2),"%")

Augment abstenciÃ³ quan els indepes perden 50% vots: 0.0 %

In [28]:
res = []
tmp = []

tmp2=[]
for i in range(1,vots_a_repartir+1):
    for j in range(len(resultats_bcn)):
         tmp.append(round((resultats_bcn[j]/i)))
         tmp2.append(round((resultats_bcn[j]/i)))
    res.append(tmp)
    tmp = []
tmp2 = sorted(tmp2,reverse=True)
limit = tmp2[vots_a_repartir-1]
data = pd.DataFrame(res, columns=columns)
data

data.style.applymap(lambda x: 'background-color : green' if x>=limit else '')

<h3> Girona

In [29]:
resGirona = [80488, 64658, 40045, 23236, 12787, 8608]
colGirona = ["ERC","PSC","JUNTS","Comuns","CUP","PP"]
girona = [290300, 244718, 6306, 5851]
#[Vots totals,Abstencions,Vots en blanc,Vots nuls]
percentatgeGirona = [] 
for i in range(len(resGirona)):
    percentatgeGirona.append(round(resGirona[i]/girona[0],2)) 
percentatgeGirona

[0.28, 0.22, 0.14, 0.08, 0.04, 0.03]

In [30]:
votIndiGirona_i = resGirona[0] + resGirona[2] + resGirona[4]
percentatge_indiGirona = round(votIndiGirona_i/girona[0],2)
percentatge_indiGirona

0.46

In [31]:
vots_a_repartir = 6

In [32]:
res = []
tmp = []
tmp2=[]
for i in range(1,vots_a_repartir+1):
    for j in range(len(resGirona)):
        tmp.append(round((resGirona[j]/i)))
        tmp2.append(round((resGirona[j]/i)))
    res.append(tmp)
    tmp = []
print(tmp2)

[80488, 64658, 40045, 23236, 12787, 8608, 40244, 32329, 20022, 11618, 6394, 4304, 26829, 21553, 13348, 7745, 4262, 2869, 20122, 16164, 10011, 5809, 3197, 2152, 16098, 12932, 8009, 4647, 2557, 1722, 13415, 10776, 6674, 3873, 2131, 1435]

In [34]:
tmp2 = sorted(tmp2,reverse=True)
limit = tmp2[vots_a_repartir-1]
data = pd.DataFrame(res, columns=colGirona)
data

data.style.applymap(lambda x: 'background-color : green' if x>=limit else '')